<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Student</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Enter name"> <br><br>
        <input type="number" name="age" placeholder="Enter age"> <br><br>
        <input type="email" name="email" placeholder="Enter email"> <br><br>
        <select name="course" id="">
            <option value="" disabled selected>Select course</option>
            {% for course in courses %}
                <option value="{{course.id}}">{{course.name}}</option>
            {% endfor %}
        </select> <br><br>
        <input type="file" name="image" > <br> <br>
        <button type="submit">Save</button>
    </form>
</body>
</html>